  /* there are 3 ways to set up CSS selectors - HTML element, such as body; 
        custom class - .redText 
         */

        /* body selector applies globally to the whole page */
        body{
            /* background-color is the back color of the webpage */
            background-color: black;
            /* color is the text color */
            color: chartreuse;
            margin: 0;
            padding: 0;
        }

        header{
            padding: 10px;
            text-align: center;
        }

        h1{
            background-color: rgb(99, 21, 172);
            color:chartreuse;
            padding: 10px;
        }

        /* this is a custom class that will just make the text color red */
        .redText{
            color:red;
        }

        /* <img id="memeImage" src="Spaghetti Meme.jpg" alt="Meme Image">*/
        #memeImage{
            width: 250px;
            position: absolute; /*this will allow our image to move around in the future*/
              
            left:40%;
            top:37%;

        }

        nav{
            height: 600px;
            width: 200px;
            float: left;
            padding: 5px;
            line-height: 30px;
        }

        footer{
            text-align: center;
            margin-right: 200px;
            position: fixed;
            bottom: 0;
            width: 100%;
            padding-bottom: 10px;
        }

        a{
            color:chartreuse;
            text-decoration: none;
        }
